.jumbotron {
  padding-top: 5rem;
  background-color: #0062ff;
}

.atas {
  background-color: #0062ff;
}

.text-justify {
  text-align: justify;
}

#projects {
  background-color: #0062ff;
}

section {
  padding-top: 5rem;
}
